.cart-container {
    margin-top: 5%;
}

.img-container {
    max-height: 160px;
}

/* large laptop screen  */
@media (max-width: 1200px) {
    .img-container{
        height: 100%;
        max-height: 100%;
    }
}

/* tablet screen  */
@media (max-width: 768px) {
    .img-container{
        height: 100%;
        max-height: 100%;
    }
}

/* mobile screen  */
@media (max-width: 600px) {
    .img-container{
        /* height: 100%; */
        max-height: 150px;
    }
}